<body>

    <h2>Holdings(6)</h2>
    <div class="table">
        <table>
            <tr>
                <td>Instrument</td>
            </tr>
            <tr>
                <td>TATA POWER</td>
            </tr>

            <tr>
                <td>ADANI POWER</td>
            </tr>

            <tr>
                <td>RPOWER</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Qty.</th>
                <th>Avg.Cost</th>
                <th>LTP</th>
            </tr>
            <tr>
                <td>400</td>
                <td>114.00</td>
                <td>118.15</td>
            </tr>
            <tr>
                <td>400</td>
                <td>114.00</td>
                <td>118.15</td>
            </tr>
            <tr>
                <td>4000</td>
                <td>114.00</td>
                <td>-</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Cur. value</th>
                <th>P&L</th>
                <th>Net Change</th>
            </tr>
            <tr>
                <td>47,260.00</td>
                <td>1,660.00</td>
                <td>+3.46%</td>
            </tr>
            <tr>
                <td>47.260.00</td>
                <td>1.660.00</td>
                <td>-3.46%</td>
            </tr>
            <tr>
                <td> - </td>
                <td> - </td>
                <td> - </td>
            </tr>
        </table>


    </div>

    </div>
    <div class="container">
        <div class="dl">
            <h4 style="margin: 0.5em 0;">P&L</h4>
            <div>&#x20b9; 50000</div>
            <div>+24.2%</div>
        </div>
        <div class="dr">
            <div>Total investement &#x20b9;100000 </div>
            <div>Current Value &#x20b9;150000</div>
        </div>



    </div>

</body>